.box {
    width: 100px;
    height: 100px;
}

#box-1 {
    background-color: aqua;
}

#box-2 {
    background-color: chocolate;
    visibility: hidden;
}

#box-3 {
    background-color: forestgreen;
    display: none;
}

#box-4 {
    background-color: mediumblue;
}

.mini{
    width: 200px;
    overflow: hidden;
}
.short{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}